/.idea/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_06_2025_21_43_[Changes]/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_06_2025_21_45_[Changes]/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_06_2025_21_45_[Changes]1/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_14_06_2025_18_43_[Changes]/
